{% extends 'layout.twig' %}
{% block title %}Article{% endblock %}

{% block content %}
    <h1>{{article.title}}</h1>
    <section>
            <article>
                <h2>{{ article.title }}</h2>
                <p>
                    {{ article.body }}
                </p>
	 <section>
				{% if comments is defined and comments is not empty %}
                	<h3>Commentaires :</h3>
                	<ul>
                		<!-- liste de commentaire -->
                	</ul>
                	{% endif %}
                	{% if user is not empty %}

                	<h3>Ajouter un commentaire:</h3>
                	<form action="" method="post">
                		<textarea></textarea>
                		<input type="submit" value="Commenter">
                	</form>
                	{% endif %}
                </section>

            </article>
    </section>
{% endblock %}